In [1]:
# tupple 
# empty 
t1 = ()
print(t1)

()

In [2]:
t2 = ('Hello',)
print(t2)
print(type(t2))

('Hello',)
<class 'tuple'>

In [3]:
# homo
t3 = (1,2,3,4,5)
print(t3)

(1, 2, 3, 4, 5)

In [4]:
# hetro
t4 = (1,True,'Hello',3.5)
print(t4)

(1, True, 'Hello', 3.5)

In [6]:
t5 = (1,2,3,(4,5))
print(t5)

(1, 2, 3, (4, 5))

In [7]:
t6 = tuple("Hello")
print(t6)

('H', 'e', 'l', 'l', 'o')

In [10]:
print(t3)
print(t3[0])
print(t3[2])

(1, 2, 3, 4, 5)
1
3

In [17]:
print(t5)
print(t5[-1])
print(t5[-1][0])

(1, 2, 3, (4, 5))
(4, 5)
4

In [21]:
t = (1,2,3,4,5)
t[0::2]

(1, 3, 5)

In [24]:
print(t3)

(1, 2, 3, 4, 5)

In [25]:
for i in t3:
    print(i)

1
2
3
4
5

In [29]:
t = (1,2,3,4,5)

t.count(3)

1

In [ ]:
t.index(0)

ValueError: tuple.index(x): x not in tuple

In [37]:
# Sets 

s = set()
print(s)

s1 = {1,2,3}
print(s1)

s3 = {1,'Hello',4.5,(1,2,3)}
print(s3)

s4 = set([1,2,3])
print(s4)

s5 = {1,1,2,3,4,5,3,6}
print(s5)

set()
{1, 2, 3}
{1, (1, 2, 3), 4.5, 'Hello'}
{1, 2, 3}
{1, 2, 3, 4, 5, 6}

In [39]:
s = {1,2,3,4}
s.update([5,6,7])
print(s)

{1, 2, 3, 4, 5, 6, 7}

In [41]:
s.add(8)
print(s)

{1, 2, 3, 4, 5, 6, 7, 8}

In [49]:
s = {1,2,3,4,5}

s.discard(5)

In [50]:
s.remove(2)
print(s)

{1, 3, 4}

In [51]:
s.pop()
print(s)

{3, 4}

In [52]:
s.clear()
print(s)

set()

In [58]:
# Set Operation
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 & s2

s1 - s2
s2 - s1

s1 ^ s2

1 not in s1

for i in s1: 
    print(i)

1
2
3
4
5

In [60]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1 | s2

s1.update(s2)

print(s1)
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}

In [62]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.intersection(s2)

s1.intersection_update(s2)
print(s1)
print(s2)

{4, 5}
{4, 5, 6, 7, 8}

In [64]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.difference(s2)

s1.difference_update(s2)

print(s1)
print(s2)

{1, 2, 3}
{4, 5, 6, 7, 8}

In [69]:
s1 = {1,2,3,4,5}
s2 = {4,5,6,7,8}

s1.symmetric_difference(s2)

s1.symmetric_difference_update(s2)
print(s1)
print(s2)

{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [70]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([3,4,5])

fs1 | fs2

frozenset({1, 2, 3, 4, 5})

In [71]:
fs = frozenset([1,2,3,frozenset([4,5])])

fs

frozenset({1, 2, 3, frozenset({4, 5})})

In [73]:
{i**2 for i in range(1,11) if i > 5}

{36, 49, 64, 81, 100}

In [74]:
# distionary 

d = {}
d

{}

In [75]:
d1 = {'name': 'Gorila', 'gender': "male"}
d1

{'name': 'Gorila', 'gender': 'male'}

In [77]:
d2 = {
    'name': 'gorila',
    'gender': 'male',
    'age': 30,
    'Subject': {
        'math': 30,
        'english': 35,
        'hinde': 40
    }
}

d2

{'name': 'gorila',
 'gender': 'male',
 'age': 30,
 'Subject': {'math': 30, 'english': 35, 'hinde': 40}}

In [80]:
d4 = dict([('name', 'gorila'), ('age', 30), ('fruit','mango')])

d4

{'name': 'gorila', 'age': 30, 'fruit': 'mango'}

In [81]:
d5 = {"name":'gorila', 'name': 'Bengal Tiger'}
d5

{'name': 'Bengal Tiger'}

In [82]:
d6 = {'name': 'gorila',(1,2,3):2}
d6

{'name': 'gorila', (1, 2, 3): 2}

In [88]:
my_dict = {'name': 'Jack', 'age': 26}

my_dict['age']

my_dict.get('name')

d2['Subject']['hinde']

40

In [89]:
d4

{'name': 'gorila', 'age': 30, 'fruit': 'mango'}

In [90]:
d4['gender'] = 'male'

d4

{'name': 'gorila', 'age': 30, 'fruit': 'mango', 'gender': 'male'}

In [91]:
d4['weight'] = 72
d4

{'name': 'gorila', 'age': 30, 'fruit': 'mango', 'gender': 'male', 'weight': 72}

In [93]:
d = {'name': 'nitish', 'age': 32, 3: 3, 'gender': 'male', 'weight': 72}

d.pop(3)

3

In [95]:
d

d.popitem()

('weight', 72)

In [96]:
d

{'name': 'nitish', 'age': 32, 'gender': 'male'}

In [97]:
del d['name']

d

{'age': 32, 'gender': 'male'}

In [98]:
d.clear()
d

{}

In [100]:
d = {'name':'nitish','gender':'male','age':33}

for i in d:
    print(i,d[i])

name nitish
gender male
age 33

In [101]:
d

{'name': 'nitish', 'gender': 'male', 'age': 33}

In [102]:
d.items()

dict_items([('name', 'nitish'), ('gender', 'male'), ('age', 33)])

In [104]:
d.keys()

dict_keys(['name', 'gender', 'age'])

In [105]:
d.values()

dict_values(['nitish', 'male', 33])

In [107]:
d1 = {1:2,3:4,4:5}
d2 = {4:7,6:8}

d1.update(d2)
print(d1)

{1: 2, 3: 4, 4: 7, 6: 8}

In [108]:
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [111]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}

distances.items()

dict_items([('delhi', 1000), ('mumbai', 2000), ('bangalore', 3000)])

In [112]:
distances = {'delhi':1000,'mumbai':2000,'bangalore':3000}

{key:value*0.62 for (key,value) in distances.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'bangalore': 1860.0}

In [114]:
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [115]:
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}

{key:value for (key,value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [116]:
{i:{j:i*j for j in range(1,11)} for i in range(2,5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}